.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 280px;
  @media screen and (min-width: 375px) {
    width: 350px;
  }
}

.username {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: 'DM Sans', sans-serif;
  color: #eae4f0;
  width: 150px;
  @media screen and (min-width: 375px) {
    width: 250px;
  }
  text-shadow: 1px 1px 0px #957dad, 1px 2px 0px #957dad, 1px 3px 0px #957dad,
    1px 4px 0px #957dad, 1px 5px 0px #957dad, 1px 6px 0px #957dad;
}
.button {
  width: 100px;
  font-family: Poppins;
  display: flex;
  height: 49px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.28px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  color: #fff;
  background-color: #957dad;
}
.button:hover {
  background-color: #7b7ede;
  transition: background-color 0.5s ease-in-out;
}
.button:focus {
  background-color: #7b7ede;
  transition: background-color 0.5s ease-in-out;
}
